/WS08DefineObjects/AS/build/
/WS10/ClassDiagramImplementacion/nbproject/private/
/WS10/ClassDiagramImplementacion/build/
/WS10ClassDiagramImplementacion/ClassDiagramImplementacion/build/
/WS10ClassDiagramImplementacion/ClassDiagramImplementacion/nbproject/private/
/WS11FromUmlToCode/ClassDiagramImplementacion/build/
/WS11FromUmlToCode/ClassDiagramImplementacion/nbproject/private/