/WS08DefineObjects/AS/build/
/WS10/ClassDiagramImplementacion/nbproject/private/
/WS10/ClassDiagramImplementacion/build/
/WS10ClassDiagramImplementacion/ClassDiagramImplementacion/build/
/WS10ClassDiagramImplementacion/ClassDiagramImplementacion/nbproject/private/
/WS12TextFiles/TextFiles/nbproject/private/
/WS12TextFiles/TextFiles/build/