/WS08DefineObjects/AS/build/
/WS10/ClassDiagramImplementacion/nbproject/private/
/WS10/ClassDiagramImplementacion/build/
/WS10ClassDiagramImplementacion/ClassDiagramImplementacion/build/
/WS10ClassDiagramImplementacion/ClassDiagramImplementacion/nbproject/private/
/WS12TextFiles/TextFiles/nbproject/private/
/WS12TextFiles/TextFiles/build/
/W13Agregations/ChickenFarmerSimulator/nbproject/private/
/W13Agregations/ChickenFarmerSimulator/build/
/W13Agregations/ChickenFarmerSimulator/dist/
/W13Agregations/ChickenFarmSimulator/nbproject/private/
/WS13Agregations/ChickenFarmerSimulator/build/
/WS13Agregations/ChickenFarmerSimulator/nbproject/private/