/unit2/WS16Libraries/Taxes/nbproject/private/
/unit2/WS16Libraries/Taxes/build/
/unit2/WS16Libraries/Taxes/TaxLibrary/nbproject/private/
/unit2/WS16Libraries/Taxes/TaxLibrary/build/
/unit2/WS16Libraries/Taxes/TaxLibrary/dist/
/unit2/WS17Libraries/Libraries/nbproject/private/
/unit2/WS18Libraries/utils/nbproject/private/
/unit2/WS18Libraries/utils/build/
/unit2/WS18Libraries/utils/dist/
/unit2/WS17Libraries/Libraries/build/
/unit2/WS18Libraries/Librari/nbproject/private/
/unit2/WS18Libraries/Librari/utils/nbproject/private/
/unit2/WS18Libraries/Librari/utils/build/
/unit2/WS18Libraries/Librari/utils/dist/
/unit2/WS18Libraries/Librari/build/
/unit2/WS22Inheritances/Farmsystem/nbproject/private/
/unit2/WS22Inheritances/Farmsystem/build/
/unit2/WS22Inheritances+polymorphism/Farmsystem/build/
/unit2/WS22Inheritances+polymorphism/Farmsystem/nbproject/private/
/unit2/WS24UnitTest/JavaApplication21/nbproject/private/
/unit2/WS24UnitTest/HardwareStore/nbproject/private/
/unit2/WS24UnitTest/HardwareStore/build/
/unit2/WS25/BasicOperations/nbproject/private/
/unit2/WS25/BasicOperations/build/